*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    position: relative;
}
/*首页*/
.content{
    position: absolute;
    width: 100vw;
    height: 120vh;
    overflow-y: hidden;
    position: relative;
    background: url("../image/temple.png") no-repeat;
    background-size: 100% 100%;
}
.scrollbar{
    position: absolute;
    background: url("../image/scrollbar.png") no-repeat;
    background-size: 100% 100%;
    top:6.2rem;
    left:0;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    width: 10rem;
    font-size: 0.7rem;
}
.scrollbarBox{
    position: absolute;
    height: 100%;
    width: 100%;
}
.statue{
    background: url("../image/rainGod.png") no-repeat;
    background-size: 100% 100%;
    width: 56%;
    height: 19rem;
    margin:7.4rem auto 0.3rem;
}

#score{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 11rem;
    height: 1.1rem;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 0.3rem;
}
#score .sun{
    text-align: center;
    background: linear-gradient(90deg, red, yellow); /* 标准的语法 */
}

#score .rain{
    text-align: center;
    background: linear-gradient(90deg,lightskyblue,#e3effa); /* 标准的语法 */
}

.buttons{
    display: flex;
    margin: -1.75rem auto;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
}
.buttons a{
    display: inline-block;
    height:7rem;
    line-height: 8rem;
    width: 9rem;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}
.donate-sun{
    background: url("../image/button1.png") no-repeat;
    background-size: 100% 100%;
}
.pray-rain{
    background: url("../image/button2.png") no-repeat;
    background-size: 100% 100%;
}

/*生成图片页*/
.box{
    width: 100vw;
    height: 92vh;
    border: 1px solid black;
    background: url("https://h5.xizhuopt.com/picture") no-repeat;
    background-size: 100% 100%;
}
.back-toHome{
    position: absolute;
    left: 3%;
    width: 94%;
    margin: 1em auto;
    font-size: 1.5rem;
}
.back-toHome a{
    text-decoration: none;
    color: black;
}