*{
    padding: 0;
    margin: 0;
}
.mask,.beginBox{
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    text-align: center;
}
.mask{
    background-color: rgba(98,98,98,0.5);
    color: white;
}
.numberBox,.scoreBox{
    position: absolute;
    color: rgb(56,58,57);
    top: 0;
    margin-top: 70%;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 150%;
}
.numberBox{
    margin-top: 40%;
    font-size: 300%;
}
.gameBox{
    position: relative;
}
#myCanvas{
    position: absolute;
    top: 0;
    z-index: 2;
}
#canvasBgp{
    background: url('../image/sunbg.png') no-repeat center;
    background-size: 100% 100%;
    height: 100%;
}
